@layer utilities {
  @keyframes shimmer {
    0% {
      background-position: -200% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }

  .animate-text-shimmer {
    background-size: 200% auto;
    animation: shimmer 3s linear infinite;
  }
}
