@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-modal.dark .ant-modal-content {
  background-color: #000 !important;
  color: white !important;
}

.custom-modal.light .ant-modal-content {
  background-color: #fff !important;
  color: black !important;
}
